PORT=3000

#Posgres Local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=your_password 

#Postgres servidor externo
DATABASE_URL=se deja vacio despues del igual porque url se carga desde la configuracion del servidor
